<header class="about-header">
  <video autoplay muted loop id="video-about">
    <source src="https://res.cloudinary.com/dvzsvgucq/video/upload/v1679239423/FREE_4K_Light_Leak_o8bz1x.mp4" type="video/mp4">
    Votre navigateur ne supporte pas la lecture de vidéos HTML5.
  </video>
  <h1>Imaginer. Créer. <br> Et faire vivre votre univers.</h1>
</header>

<div class="about-content">
  <section class="about-parallax-section" id="about-section1">
      <h2>Développeur FullStack <br> Passionné par le design</h2>
  </section>
  <section class="about-detail-section">
      <div class="text-container">
        <h2>Développeur Web Fullstack</h2>
        <p>Je découvre le développement informatique durant mon aventure startup 2021, que je pratique d'abord
        en auto-didacte avant d'obtenir un diplôme et devenir Développeur FullStack avec le Wagon,
        bootcamp de développement informatique n°1 au Monde.</p>
        <p>Mais je suis passé par beaucoup d'expériences différentes avant de devenir développeur...</p>
      </div>
      <div class="image-container">
          <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680248130/default_meta_image_i9u1iu.jpg" alt="Le Wagon">
      </div>
  </section>

  <section class="about-parallax-section" id="about-section2">
    <h2>Ecole de Commerce à Lille</h2>
  </section>
  <section class="about-detail-section">
    <div class="text-container">
        <h2>Master à l'EDHEC Business School (BBA)</h2>
        <p>Originaire du Pays Basque, je passe mon Master à l'EDHEC Lille et 8 mois d'échange universitaire aux Philippines</p>
    </div>
    <div class="image-container">
        <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680026655/BBA_Accueil_header_1_M6_0_jk8uhs.jpg" alt="EDHEC">
    </div>
  </section>

  <section class="about-parallax-section" id="about-section3">
      <h2>Premières expériences professionnelles</h2>
  </section>
  <section class="about-detail-section">
      <div class="text-xp">
        <h2>Evénementiel, Serge Betsen, Consultant...</h2>
        <p>Anecdote: En tant que consultant de Serge Betsen dans toutes ses activités, ma première recommandation
        fut d'entamer la rédaction d'un livre afin d'exposer sa vision le rugby français. Après avoir trouvé l'éditeur,
        et managé le projet de bout en bout, le livre sort à la FNAC et tous les libraires de France, un an et demi plus tard : <i>"Les 7 plaies du rugby français"</i>.</p>
      </div>
      <div class="image-xp">
          <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680025932/Nike_-_Smoocyclette_-_CM_f%C3%A9minine_qozjeg.jpg" alt="Nike Smoocyclette" >
      </div>
  </section>

  <section class="about-parallax-section" id="about-section4">
      <h2>Startup</h2>
  </section>
  <section class="about-detail-section">
    <div class="text-container">
      <h2>La Smoocyclette fait le tour des médias</h2>
      <p>Je créé en 2017 la Smoocyclette, un vélo qui permet de faire des smoothies en pédalant. Une animation événementielle
      qui trouve très vite son public et fait le tour de France mais aussi à l'étranger : Espagne, Italie, Luxembourg, Belgique, Andorre...
      Mais aussi le tour des plus grands médias nationaux et internationaux : Forbes, la BBC, TV5 Monde, L'Equipe, M6, Quotidien de Yann Barthès, Elle Espagne, et bien d'autres...
      Quelques références: Porsche, Air France, Nike, la FFF, la Fashion Week, Le Tour de France...
      <p>Société revendue en  2022.</p>
      </p>
      <div class="about-media-logos">
        <img src="https://logos-marques.com/wp-content/uploads/2022/03/Forbes-logo.png" alt="Forbes" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/1200px-BBC_Logo_2021.svg.png" id="bbc" alt="BBC" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/L%27Equipe_logo.png" alt="L'Équipe" />
        <img src="https://upload.wikimedia.org/wikipedia/fr/0/01/Logo-Quotidien-Saison-6.png" alt="Quotidien de Yann Barthès" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Logo_TV5_Monde_-_2021.svg" alt="TV5 Monde" />
        <img src="https://dirigeants-entreprise.com/content/uploads/M6.png" alt="M6" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/France_2_2018.svg" id="fr2" alt="France 2" />
      </div>
    </div>
    <div class="image-container">
      <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1682877944/tz-autour-du-v195169lo-1-compressed_zszysx.webp" alt="Autour du vélo Gérard Holtz">
    </div>
  </section>

  <section class="about-parallax-section" id="about-section5">
      <h2>Photographe</h2>
  </section>
  <section class="about-detail-section">
    <div class="text-container">
      <h2>Photographe professionnel</h2>
      <p>Photographe depuis 2021 pour les théâtres de la Scène Nationale</p>
      <div class="intro-button">
        <a href="https://portfolio-photo.herokuapp.com/" target="_blank" class="insta-btn">Voir quelques photos</a>
      </div>
    </div>
    <div class="image-container">
        <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1682877944/singer_1__wiitrw.webp" alt="Troupe Alaia singer">
    </div>
  </section>
</div>
