<div class="projects-container">
  <h1 class="projects-title">Projets en cours</h1>
  <div class="projects-grid">
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/Dalist_vjjqem.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>Dalist</h2>
          <p>Application web et mobile</p>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/W_nk8jl7.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>W</h2>
          <p>Application mobile et web</p>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/Novalia_gi8wyn.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>Novalia</h2>
          <p>Application web</p>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680022625/IMG_8223_aaed96.jpg');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>Clash of Buzz</h2>
          <p>Application web</p>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/Basile_cizcqo.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>Basile</h2>
          <p>Application web</p>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680205609/Capsule_Corp_wf8ekt.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2>Capsule Corp</h2>
          <p>Application web</p>
        </div>
      </div>
    </div>
  </div>
</div>
