<div class="projects-container">
  <h1 class="projects-title">Projets en cours</h1>
  <div class="projects-grid">
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1684835389/PortPhoto_f22don.jpg');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Portfolio Photo</h2>
          <p class="project-type">Application web</p>
          <p><i>Lien vers le site du projet: <a href="https://portfolio-photo.herokuapp.com/" target="_blank" rel="noopener noreferrer" class="project-link">Cliquer ici.</a></i></p>
          <p>Création de mon site portfolio en tant que photographe professionnel.</p>
          <p>Projet réalisé en TypeScript, React.js, Node.js, Three.js, Javascript, Tailwind, HTML, CSS, ainsi que diverses bibliothèques pour des fonctionnalités avancées (React Router, ScrollMagic, etc.)</p>
          <span class="project-role">Rôle: Prototypage FIGMA & Développeur fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1683112748/rvng-site_wyncec.webp');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Site portfolio Hervé Nguetsop</h2>
          <p class="project-type">Application web</p>
          <p>Création de mon site portfolio pour présenter mes projets et mon parcours.</p>
          <p>Projet orienté UX réalisé avec Ruby on Rails, CSS, Javascript ainsi que diverses bibliothèques pour des fonctionnalités avancées (AOS, Quill.js, Stimulus, OwlCarousel, ScrollMagic, Devise, FriendlyId, etc.)</p>
          <span class="project-role">Rôle: Développeur fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1681666872/Clash_of_Buzz_ctofi2.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Clash of Buzz</h2>
          <p class="project-type">Application web</p>
          <p>Clash of Buzz est un jeu de fantasy politic sur le célèbre "Mon Petit Gazon". L'objectif est de créer son équipe de personnalités politiques (mercato) et de les faire s'affronter.</p>
          <p>Comment gagner ? Les points sont marqués en fonction de l'actualité... Qui buzzera le plus ?</p>
          <span class="project-role">Rôle: Développeur fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1682092485/IMG_1719_preview_woc9mj.jpg');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Agence POZA - La Smoocyclette</h2>
          <p class="project-type">Application web</p>
          <p>La Smoocyclette est une animation événementielle de type vélo-smoothie Made in France, qui permet de créer des smoothies en pédalant.</p>
          <p>Le but de ce projet était de créer le site internet de la Smoocyclette, produit phare de l'agence événementielle POZA.</p>
          <span class="project-role">Rôle: développement fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/Basile_cizcqo.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Basile</h2>
          <p class="project-type">Application web (projet en cours)</p>
          <p>Basile est une IA d'accompagnement et de formation. Elle permet de créer des parcours de formation personnalisés et de suivre son évolution.</p>
          <span class="project-role">Rôle: Prototypage FIGMA & Développeur fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1682877942/dalist-1_cqi8b3.webp');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Dalist</h2>
          <p class="project-type">Application web et mobile (en cours)</p>
          <p>Dalist est une application mobile et web qui permet de créer et gérer ses listes de films vus, à voir et de les partager avec ses proches.</p>
          <span class="project-role">Rôle: prototypage FIGMA</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1682877943/w-1_btu4xc.webp');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">W</h2>
          <p class="project-type">Application mobile et web</p>
          <p>Projet confidentiel à venir</p>
          <span class="project-role">Rôle: Product Owner</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680205609/Capsule_Corp_wf8ekt.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Capsule Corp</h2>
          <p class="project-type">Application web</p>
          <p>Capsule Corp est une application web qui permet de créer et gérer des expériences événementielles en réalité virtuelle.</p>
          <span class="project-role">Rôle: Développeur fullstack</span>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url('https://res.cloudinary.com/dvzsvgucq/image/upload/v1680206857/Novalia_gi8wyn.png');">
      <div class="project-overlay">
        <div class="project-description">
          <h2 class="project-title">Novalia</h2>
          <p class="project-type">Application web</p>
          <p>Novalia est une marque d'ameublement: canapés, fauteuils, tables, etc. Leur projet est un site e-commerce catalogue de produits.</p>
          <span class="project-role">Rôle: prototypage FIGMA de la landing page</span>
        </div>
      </div>
    </div>
  </div>
</div>
