<div class="index-container">
  <h1 class="index-title">Blog</h1>

  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to post_path(post) do %>
          <% if post.cover_image.attached? %>
            <%= image_tag post.cover_image, alt: post.title, class: "post-cover-image" %>
          <% end %>
          <div class="post-text">
            <h2 class="post-title"><%= post.title %></h2>
            <p class="post-content"><%= post.content.to_plain_text.truncate(100) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
