<div class="show-post-container">
  <h1 class="show-post-title"><%= @post.title %></h1>
  <div class="show-post-content">
    <p><%= @post.content %></p>
  </div>
  <div class="show-post-buttons">
    <%= link_to "Revenir à l'index des posts", posts_path, class: "show-post-button" %>
    <% if user_signed_in? %>
      <%= link_to "Modifier l'article", edit_post_path(@post), class: "show-post-button" %>
    <% end %>
  </div>
</div>
