.latest-posts {
  margin: 1rem 1rem 3rem 1rem;
  text-align: center;
}

.latest-posts .section-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post-preview {
  background-color: rgba(230, 230, 230, 0.8);
  border: 1px solid #c2c2c2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.post-container:hover .post-preview {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.post-img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.post-content .post-title {
  font-size: 2rem;
  margin: 0.6rem;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  color: #000;
}

.post-content {
  font-size: 1.25rem;
}

.post-text {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1.25rem;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  color: #0056b3;
  text-decoration: underline;
}

.all-posts-button-container {
  margin: 5rem 0 2rem 0;
}

.all-posts-button {
  background-color: #3a8dff;
  border: 1px solid #3a8dff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.all-posts-button:hover {
  background-color: #1d64c3;
  border-color: #1d64c3;
  color: #fff;
}

.all-posts-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .latest-posts .section-title {
    font-size: 1.5rem;
  }

  .posts-grid {
    grid-template-columns: 1fr;
  }

  .post-content .post-title {
    font-size: 1.1rem;
  }

  .post-text {
    font-size: 0.9rem;
  }
}
