#intro-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.introduction-section {
  min-height: 90vh;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.intro-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  animation: zoomIn 1s ease;
}

.experience-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 2rem 0;
}

.intro-column {
  flex: 1;
  text-align: left;
  padding: 1rem;
  margin: 0 2rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.intro-column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.8;
}

.intro-column:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.intro-sec {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.intro-column {
  flex: 1;
  text-align: center;
  margin: 0 3rem;
}

.intro-text {
  text-align: left;
}

.intro-photo img {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.introduction-section h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.intro-text p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.experience, .skills {
  margin-bottom: 1.5rem;
}

.experience h4, .skills h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.experience ul, .skills ul {
  list-style: none;
  padding-left: 0;
}

.experience li, .skills li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  opacity: 0.9;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 50vh;
  border-radius: 15px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item:first-child img {
  opacity: 1;
}

.intro-photo .carousel img {
  width: 100%;
  max-width: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.experience ul, .skills ul {
  animation: slideIn 1s ease;
}

.experience li i,
.skills li i {
  margin-right: 8px;
  font-size: 1.2rem;
  color: #f9c448;
}

.intro-button {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 2.5rem;
}

.link-intro-btn {
  text-decoration: none;
  color: #252525;
}

.link-intro-btn:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.intro-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.intro-button:hover {
  background-color: #b9b9b9;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.intro-button:hover:before {
  opacity: 1;
}

/*
@media (max-width: 991px) {
  .intro-grid {
    grid-template-columns: 1fr;
  }
}
*/

@media (max-width: 767px) {
  .introduction-section {
    padding: 2rem 0;
  }

  .introduction-section h3 {
    font-size: 1.8rem;
  }

  .intro-grid {
    grid-template-columns: 1fr;
  }

  .intro-text {
    text-align: justify;
  }

  .experience h4, .skills h4 {
    font-size: 1.3rem;
  }

  .experience li, .skills li {
    font-size: 1rem;
  }

  .intro-button {
    padding: 15px 25px;
    font-size: 1rem;
    margin-top: 2rem;
  }

  #intro-video {
    width: 100%;
  }

  .intro-column {
    margin: 1rem 0;
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .introduction-section {
    padding: 1rem 1.2rem;
  }

  .introduction-section h3 {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 1rem;
  }

  .carousel-container {
    height: 12rem;
  }

  .experience h4, .skills h4 {
    font-size: 1.1rem;
  }

  .experience li, .skills li {
    font-size: 0.9rem;
  }

  .intro-button {
    padding: 12px 20px;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  #intro-video {
    width: 100%;
  }
}
