#media-appearances .media-appearances-section {
  text-align: center;
  padding: 2.2rem 0;
  background-color: #f5f5f5;
  position: relative;
  margin-bottom: 2.2rem;
  z-index: 1;
}


.media-logos-container {
  max-width: 1000px;
  margin-bottom: 2rem;
  padding: 25px;
  display: flex;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.media-appearances-section .section-title {
  color: black;
}

.media-appearances-section h4 {
  text-align: center;
}

.media-logos-slider {
  display: flex;
  animation: scrolling-logos 95s linear infinite;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.media-logos-slider img {
  width: auto;
  height: 60px;
  margin: 10px 50px;
}

@keyframes scrolling-logos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .media-logos-slider {
    animation: scrolling-logos 50s linear infinite;
  }
}
