.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  font-size: 1.3rem;
  font-weight: bold;
}

.text-wrapper {
  overflow: hidden;
  display: flex;
  position: relative;
  width: auto;
}

.logo-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 20rem;
}

.copyright-symbol {
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease;
  margin-right: 0.5rem;
  z-index: 2;
}

.logo-text,
.hidden-text {
  display: inline-block;
  transition: transform 0.3s ease;
  white-space: nowrap;
}

.logo-text {
  width: 100%;
}

.hidden-text {
  position: absolute;
  top: 0;
  left: 100%;
  overflow: hidden;
}

.logo-link:hover .logo-text {
  transform: translateX(-100%);
}

.logo-link:hover .hidden-text {
  transform: translateX(-100%);
}

.logo-link:hover .copyright-symbol {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
