.projects-container {
  padding: 2rem;
  background-color: #050505;
  margin-top: 9rem;
  margin-bottom: 3rem;
}

.projects-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Sora', sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.project {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.project.visible {
  transform: translateY(0);
  opacity: 1;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  width: 100%;
}

.project h2 {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.project.visible h2 {
  opacity: 1;
  transform: translateX(0);
}

.project p {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.project.visible p {
  opacity: 1;
  transform: translateX(0);
}

.project-description {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 40%;
  min-width: 300px;
}

.project-title {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.project-type {
  display: inline-block;
  color: #fff;
  background-color: #3f51b5;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
}

.project p {
  color: #fff;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.project-role {
  display: block;
  color: #ccc;
  font-size: 1rem;
  text-align: left;
  font-style: italic;
  margin-top: 1rem;
}

@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-description {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
  }

  .project-overlay {
    padding-left: 0;
    height: 100%;
  }

  .projects-title {
    font-size: 2rem;
  }

  .project h2 {
    font-size: 1rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project p {
    font-size: 0.5rem;
  }

  .project-type {
    font-size: 0.8rem;
    margin: 0;
  }

  .project-role {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }

  .project-overlay {
    padding-left: 0;
    height: 100%;
  }

  .projects-title {
    font-size: 2rem;
  }

  .project h2 {
    font-size: 1rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project p {
    font-size: 0.5rem;
  }

  .project-type {
    font-size: 0.8rem;
    margin: 0;
  }

  .project-role {
    font-size: 0.5rem;
  }
}
