/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(/assets/components/navbar.css);
@import url(/assets/components/cursor.css);
@import url(/assets/components/navbar-logo.css);
@import url(/assets/components/header.css);
@import url(/assets/components/scrolling-contact.css);
@import url(/assets/components/audioplayer.css);
@import url(/assets/components/contact-page.css);
@import url(/assets/components/testimonials.css);
@import url(/assets/components/footer.css);
@import url(/assets/components/audioplayer.css);
@import url(/assets/components/home-card.css);
@import url(/assets/components/about.css);
@import url(/assets/components/projects.css);
@import url(/assets/components/medias.css);
@import url(/assets/components/blog-home.css);

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  background-color: black;
  min-height: 100vh;
  margin-top: 3rem;
}

.opening-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  animation: slideUp 1s forwards;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.opening-text {
  font-size: 2.5rem;
  color: white;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
}

.opening-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
