<footer>
  <div class="footer-container">
    <div class="contact-info">
      <h4>Contactez-moi</h4>
      <p>Email: <a href="mailto:contact@rvng.com">contact@rvng.com</a></p>
      <p>Téléphone: <a href="tel:+33665511993">+33 6 65 51 19 93</a></p>
    </div>
    <div class="menu">
      <ul>
        <li>
          <%= link_to "Accueil", root_path %>
        </li>
        <li>
          <%= link_to "Projets", projects_path %>
        </li>
        <li>
          <%= link_to "À propos", about_path %>
        </li>
        <li>
          <%= link_to "Contact", contact_path %>
        </li>
      </ul>
    </div>
    <div class="social-icons">
      <div><h4>Suivez-moi</h4></div>
      <div>
        <a href="https://www.linkedin.com/in/herve-nguetsop/" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/RVNG64" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/hervenguetsop/?next=%2F" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
